<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Lista de Usuários</h5>
        <div class="card-body">
            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <%Categorias.forEach(function(categoria){%>

                    <tr>
                        <th scope="row"> <%=categoria._id%> </th>
                        <td> <%=categoria.nome%> </td>
                        <td>
                            <a href="/admin/categoria/editar/<%=categoria._id%>">Editar</a>
                        </td>
                        <td>
                            <a href="/admin/categoria/deletar/<%=categoria._id%>">Deletar</a>
                        </td>
                    </tr>

                    <%})%>

                </tbody>
            </table>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>